body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    background: #333;
    color: white;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

main {
    padding: 1em;
    background: white;
    margin: 1em;
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    flex-direction: column;
}

#productos {
    display: flex ;
    flex-wrap: wrap;
    gap: 2em;
    flex-direction: row;

}
.producto {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1em;
    width: calc(25% - 1em);
    box-sizing: border-box;
}

.producto img {
    max-width: 100%;
    height: 15em;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.producto h3 {
    margin: 0.5em 0;
}

#searchContainer {

    background-color: transparent;
    border-color: gray;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}

#searchInput {

    background-color: #f4f4f4;
    border-color: gray;
    border-radius: 90px;
    font-size: x-large;
    color: gray;
}


button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #4caf4fc2;
}

.material-icons {
    font-size: 3em;
}













footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
